
  .editor {
    height: 90vh;
    margin-right: 0.1px;

    textarea {
     padding: 80px 15px;
     padding-bottom: 5px;
     box-sizing: border-box;
     background: #212121;
     color: #f2f2f2;
     font-size: calc(0.9em + 0.2vw);
     outline: none;
     border: none;
     width: 100%;
     height: 95%;
  }
}
