.preview {
  word-wrap: break-word;
  line-height: 1.4;
  margin-left: 0;
  //customizing styles for markdown library----------

  blockquote {
  border-left: 3px solid #e60099;
  background:  white;
  color: #e60099;
  padding: 0.2px 15px;
  margin-left: 25px;
}

code {
  background: white;
  word-wrap: break-word!important;
  color: #e60099;
  padding: 1px 4px 2px 4px;
}

pre {
  background: white;
  padding: 5px 0 5px 5px;
}

h1 {
  border-bottom: 2px solid white;
}

h2 {
  border-bottom: 1px solid white;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid #99004d;
  padding: 10px;
}

}
