#taskbar{
  position: fixed;
  height: auto;
  width: 100%;
  margin: 0;
  background: var(--toolbar);
  color: var(--textFont);
  border-bottom: .5px solid black;

  >ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;

  li {
    height: 100%;
    border-right: 0.5px solid black;
    padding-right: 2.5%;
    margin-right: 2.5%;
  i {
    z-index: 99;
    font-size: calc(0.9em + 1vmax);
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
   }
  }
 }
}
