#taskbar{
  position: fixed;
  height: 50px;
  width: 100%;
  margin: 0;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--toolbar);
  color: var(--textFont);
  border-bottom: .5px solid black;

  >i {
    padding: 5px 0;
    z-index: 99;
    margin-right: 5%;
    font-size: calc(0.9em + 1vmax);
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

#info {
  margin-top: -0.5%;
  margin-right: 5%;
  font-size: calc(0.8em + 1vmax);
  cursor: pointer;
  padding-top: 0.5%;
  z-index: 99;

  &:hover {
    transform: scale(1.2);
    color: #0073e6;
  }
}
}
