.toolbar {
  background: var(--toolbar);
  color: var(--textFont);
  box-shadow: inset 2px 5px 20px #2e2e2e;
  margin-top: -5%;
  height: 6.5vmax;

  .arrows{
    display: none;
  }

  h3 {
    user-select: none;
    padding: 4%;
    padding-right: 0;
    font-size: 2.4vmax;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828;
  }
}
