@media only screen and (max-width: 580px) {
  //for mobile phones or small tablets

  body .back {
    width: 100vw;
    height: 100vh;
    .parent{
      flex-direction: column;
      justify-content: flex-start;
      height: 99vh;
      &:focus-within {min-height: 700px !important;}
    }
  }

  .editor {
    margin-top: 13%;
    overflow-x: hidden;
    width: 100%!important;
    height: 50%;
    textarea:focus-within {
      height: 50% !important;
      font-size: 4vw !important;
    }

    .toolbar{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrows{
        display: inline-block;
        padding-right: 4%;
      }
      h3 {
        padding: 5%;
        padding-right: 0;
        font-size: 4.7vw;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c;
      }
    }
  }

  .preview{
    margin-top: 0.5%;
    overflow-x: hidden;
    width: 100%!important;
    height: 50%;
    code{
      width: 50%;
      height: auto;
      padding: 1px 2px 2px 2px;
      font-size: 11px !important;
    }
    .toolbar{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrows{
        display: inline-block;
        padding-right: 4%;
      }
      h3 {
        padding: 5%;
        padding-right: 0;
        font-size: 4.7vw;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c;
      }
    }
  }
}
