@media only screen and (max-width: 580px) {
  //for mobile phones or small tablets

  body {
    font-size: 2vmax;
  }
  body .back {
    width: 100vw;
    &:focus-within {min-height: 1000px !important;}
    .parent{
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .editor {
    margin-top: 12%;
    overflow-x: hidden;
    width: 100%!important;
    height: 49.5%;
    textarea:focus-within {
      height: 1000px !important;
      font-size: 3.5vmax !important;
    }

    .toolbar{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrows{
        display: inline-block;
        padding-right: 4%;
      }
      h3 {
        padding: 5%;
        padding-right: 0;
        font-size: 2.7vmax;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c;
      }
    }
  }

  .preview{
    margin-top: 0.5%;
    overflow-x: hidden;
    width: 100%!important;
    height: 49.8%;
    code{
      width: 50%;
      height: auto;
      padding: 1px 2px 2px 2px;
      font-size: 11px !important;
    }
    .toolbar{
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrows{
        display: inline-block;
        padding-right: 4%;
      }
      h3 {
        padding: 5%;
        padding-right: 0;
        font-size: 2.7vmax;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c;
      }
    }
  }
}

/*  body .back #theme-switch {
    top: 10px;
    left: 82%;
    font-size: 3vmax;
  }

  body .back #info {
    top: 10px;
    font-size: 3vmax;
    left: 92%;
  }

}

@media only screen and (min-width: 600px) and (max-width: 800px){
   body .back #theme-switch {
   top: 1.5%;
    left: 80%;
  }

  body .back #info {
    top: 1.5%;
    left: 88%;
  }

}*/
